@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue-color: #0075FF;
    --dark-blue-color: #211F54;
    --grey-color: #6E7191;
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-color);
    font-size: 21px;
    line-height: 30px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--dark-blue-color);
}

.container {
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}

.active-btn {
    background-color: var(--blue-color);
    color: #fff;
    padding: 17px 24px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 14px;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.section__title {
    color: #211F54;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.white-btn {
    border-radius: 14px;
    border: 1px solid #EFF0F6;
    box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
    padding: 26px 39px;
}

@media (max-width: 650px) {
    .active-btn {
        padding: 12px 16px;
    }

    .white-btn {
        padding: 12px 16px;
    }
}

@media (max-width: 500px) {
    .section__title {
        font-size: 40px;
        line-height: 48px;
    }
}