.areas {
    margin-bottom: 224px;
    &__inner {
        display: flex;
        align-items: center;
        gap: 5%;
        .areas__img {
            max-width: 48%;
        }
        .areas__info {
            padding-top: 60px;
            max-width: 48%;
            &-title {
                margin-bottom: 19px;
            }
            &-text {
                margin-bottom: 26px;
            }
            .areas__lists {
                display: flex;
                margin-bottom: 54px;
                gap: 56px;
                .areas__list {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    &-item {
                        position: relative;
                        padding-left: 34px;
                        &::before {
                            position: absolute;
                            content: '';
                            background-image: url(../../images/mark.svg);
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-color: #EDF5FF;
                            width: 26px;
                            height: 26px;
                            border-radius: 50%;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            
            
            .areas__button {
            }
        }
    }
    
}

@media (max-width: 1000px) {
    .areas {
        &__inner {
            .areas__img {
                max-width: 40%;
            }
            .areas__info {
                max-width: 55%;
                &-title {
                    font-size: 42px;
                    line-height: 51px;
                }
                &-text {
                   
                }
                .areas__lists {
                    gap: 40px;
                    margin-bottom: 30px;
                    .areas__list {
                        gap: 15px;
                    }
                }
                
            }
        }
        
    }
}

@media (max-width: 760px) {
    .areas {
        &__inner {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .areas__img {
                max-width: 60%;
            }
            .areas__info {
                max-width: 90%;
                &-title {
                    font-size: 42px;
                    line-height: 51px;
                    text-align: center;
                }
                &-text {
                    text-align: center;
                }
                .areas__lists {
                    justify-content: center;
                    margin-bottom: 40px;
                    
                }

                .areas__button {
                    display: block;
                    width: 162px;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }
                
            }
        }
        
    }
}

@media(max-width: 500px) {
    .areas {
        &__inner {
            .areas__img {
                max-width: 80%;
            }
            .areas__info {
                &-title {
                    font-size: 35px;
                    line-height: 44px;
                }
                .areas__lists {
                    gap: 30px;
                }
            }
        }
    }
}

