.comparison {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--section-margin);
    &__title {
        max-width: 608px;
        margin: 0 auto;
        margin-bottom: 13px;
    }
    &__text {        
        max-width: 702px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__inner {
        max-width: 62%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 40px;
        .comparison__item {
            display: flex;
            gap: 16px;
            align-items: center;
            &-img {
                width: 72px;
                height: 72px;
                border-radius: 50%;
                border: 1px solid var(--light-grey-color);
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-info {
                .comparison__item-text {
                    color: var(--grey-color);
                    font-size: 16px;
                    line-height: 18px; 
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                    text-align: left;
                }
                .comparison__item-num {
                    color: var(--dark-blue-color);
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 36.008px;
                    text-align: left;
                }
            }
            
        }
    }

    &__video {
        &-img {
            object-fit: cover;
        }
    }
    
}

@media(max-width: 1100px){
    .comparison {
        &__video {
            &-img {
                object-fit: cover;
                max-width: 90%;
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 800px) {
    .comparison {
        &__title {
            max-width: 85%;
        }
        &__text {
            max-width: 80%;
        }
        &__inner {
            max-width: 80%;
        }
    }
}

@media(max-width: 650px) {
    .comparison {
        &__title {
            max-width: 90%;
        }
        &__text {
            max-width: 90%;
        }
        &__inner {
            max-width: 90%;
        }

        &__video {
            &-img {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 550px) {
    .comparison {
        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }
}




