.comparison {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 240px;
    margin-bottom: 240px;
    &__title {
        max-width: 608px;
        margin: 0 auto;
        margin-bottom: 13px;
    }
    &__text {        
        max-width: 702px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__inner {
        max-width: 62%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 40px;
        .comparison__item {
            display: flex;
            gap: 16px;
            align-items: center;
            &-img {
            }
            &-info {
                .comparison__item-text {
                }
                .comparison__item-num {
                }
            }
            
        }
    }

    &__video {
        &-img {
            object-fit: cover;
        }
    }
    
}

@media(max-width: 1100px){
    .comparison {
        &__video {
            &-img {
                object-fit: cover;
                max-width: 90%;
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 800px) {
    .comparison {
        &__title {
            max-width: 85%;
        }
        &__text {
            max-width: 80%;
        }
        &__inner {
            max-width: 80%;
        }
    }
}

@media(max-width: 650px) {
    .comparison {
        &__title {
            max-width: 90%;
        }
        &__text {
            max-width: 90%;
        }
        &__inner {
            max-width: 90%;
        }

        &__video {
            &-img {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 550px) {
    .comparison {
        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }
}




