.footer {
    .footer__top {
        padding: 141px 24px;
        display: flex;
        gap: 40px;
        .footer__info {
            min-width: 164px;
            max-width: 312px;
            &-title {
                margin-bottom: 7px;
            }
            &-text {
                margin-bottom: 12px;
            }
            .social__list {
                display: flex;
                gap: 16px;
                align-items: center;
                margin-top: 34px;
                &-item {
                    width: 30px;
                    height: 30px;
                    background-color: var(--blue-color);
                }
            }
            
            .footer__info-subtitle {
                margin-bottom: 28px;
            }
            .footer__info-text {
                margin-top: 8px;
                &.bold {
                    font-weight: 700;
                } 
            }
            
            .footer__info-link {
                margin-bottom: 6px;
                color: var(--blue-color);
            }
            .footer__info-btn {
                margin-top: 18px;
            }
        }
    }
    
    
    .footer__bottom {
        padding: 41px 24px 31px 24px;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        align-items: center;
        .logo {
            margin-right: auto;
        }
        &-text {

        }
        &-link {
            color: var(--blue-color);
            border-bottom: 1px solid var(--blue-color);
        }
    }
}

@media(max-width: 1000px) {
    .footer {
        .footer__top {
            flex-wrap: wrap;
            justify-content: space-between;
            .footer__info {
                max-width: 40%;
            }
        }

        .footer__bottom {
            max-width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media(max-width: 730px) {
    .footer {
        .footer__top {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .footer__info {
                min-width: 60%;
                max-width: 80%;
            }
        }

        .footer__bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

