.header {
    margin-bottom: 239px;
    .header__top {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        color: var(--dark-blue-color);
        .menu {
            display: flex;
            align-items: center;
            .logo {
                margin-right: 40px;
            }
            
            .menu__list {
                display: flex;
                align-items: center;
                gap: 22px;
                &-item {
                    border-bottom: 1px solid transparent;
                    transition: all 0.3s;
                    &:hover {
                        border-bottom: 1px solid var(--dark-blue-color);
                        transform: scale(1.1);
                    }
                }
                &-link {
                    
                }
            }
    
            
        }

        .menu-btn {
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: none;
            span {
                background-color: var(--blue-color);
                width: 40px;
                height: 4px;
            }
        }

        .header__buttons {
            display: flex;
            gap: 24px;
            .header__btn {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .promo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__info {
            max-width: 49%;
            &-title {
                font-size: 68px;
                font-weight: 700;
                line-height: 74px;
                margin-bottom: 22px;
            }
            &-text {
                margin-bottom: 34px;
            }
            &-buttons {
                display: flex;
                align-items: center;
                .promo__btn {
                    margin-right: 28px;
                    padding: 26px 38px;
                }
                .promo__link {
                    
                }
            }
        }
        
        &__img {
            object-fit: cover;
            max-width: 50%;
        }
    }
    
}


@media (max-width: 1100px) {
    .header {
        .promo {
            &__info {
                &-title {
                    font-size: 58px;
                    line-height: 64px;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .header {
        .header__top {
            justify-content: flex-end;
            .menu {
                margin-right: auto;
                .menu__list {
                    flex-direction: column;
                    transform: translateY(-2000%);
                    transition: all 0.5s;
                    position: absolute;
                    &.active {
                        transform: translateY(0); 
                    }
                    &-item {
                        padding: 10px 0;
                        width: 100%;
                        border-bottom: 1px solid var(--blue-color);
                    }
                }
            }

            .menu-btn {
                display: flex;
                margin-left: 20px;
            }
            

        }

        .promo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__info {
                padding-top: 70px;
                max-width: 80%;
                text-align: center;
                &-title {
                    font-size: 58px;
                    line-height: 64px;
                }
                &-buttons {
                    justify-content: center;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .header {
        .promo {
            &__info {
                max-width: 90%;
                &-buttons {
                    .promo__btn {
                        padding: 20px 28px;
                    }
                    .promo__link {
                     
                    }
                }
            }

            &__img {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 560px) {
    .header {
        .header__top {
            .menu {
                .logo {
                    margin-right: 10px;
                    object-fit: cover;
                    max-width: 70%;
                }
            }

            .header__buttons {
                gap: 15px;
                
                .header__btn {
                    font-size: 13px;
                }
            }
        }

        
    }
}








