.how {
    text-align: center;
    margin-bottom: var(--section-margin);
    &__title {
        margin-bottom: 21px;
    }
    &__text {
        margin-bottom: 58px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 58px;
        .how__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-img {
                margin-bottom: 39px;
            }
            &-title {
                margin-bottom: 16px;
                font-size: 28px;
                font-weight: 700;
                line-height: 36.008px;
            }
            &-text {
            }
        }
    }
    
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        .how__btn {
        }
    }
}

@media (max-width: 1100px) {
    .how {
        padding-bottom: 70px;
        margin-bottom: 70px;
        &__inner {
            .how__item {
                &-img {
                    max-width: 65%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .how {
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 15px;
            .how__item {
                
            }
        }
    }
}

@media(max-width: 700px) {
    .how {
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 40px;
            .how__item {
                &-img {
                    max-width: 45%;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .how {
        &__buttons {
            flex-direction: column;
        }

        &__inner {
            .how__item {
                &-title {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }
    }
}
