.request {
    background-color: #F7F9FC;
    padding: var(--section-margin) 0;
    &__inner {
        display: grid;
        grid-template-columns: 40% 55%;
        gap: 5%;
        .request__info {
            padding-top: 146px;
            .request__info-title {
                margin-bottom: 8px;
            }
            .request__info-text {
                margin-bottom: 12px;
                max-width: 485px;
            }
            .request__info-link {
                padding-bottom: 51px;
                margin-bottom: 55px;
            }

            .request__link {
                padding-bottom: 51px;
                border-bottom: 1px solid var(--light-grey-color);
                margin-bottom: 55px;
            }
            .request__info-subtitle {
                margin-bottom: 9px;
                font-size: 28px;
                font-weight: 700;
                line-height: 36.008px;
            }
            .request__info-btn {
                margin-top: 9px;
            }
        }
        
        .request__form {
            padding: 85px 9% 85px 9%;
            width: 100%;
            background-color: #fff;
            border-radius: 16px;
            border: 1px solid #EFF0F6;
            box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.04);
            .request__form-data {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 33px;
                grid-row-gap: 32px;
                .request__form-label {
                    color: var(--dark-blue-color);
                    font-size: 18px;
                    line-height: 31px;
                    margin-bottom: 12px;
                    &.note {
                        grid-column: 1/3;
                    }
                }
                .request__form-input {
                    display: block;
                    border-radius: 16px;
                    border: 1px solid #EFF0F6;
                    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
                    padding: 5px;
                    width: 100%;
                    height: 72px;
                }
                .request__form-text {
                    display: block;
                    width: 100%;
                    border-radius: 16px;
                    border: 1px solid #EFF0F6;
                    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
                    padding: 5px;
                    margin-bottom: 42px;
                }
            }
            
            .request__form-btn {
                display: block;
            }
        }
    }
}

@media (max-width: 1100px) {
    .request {
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .request__info {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                padding-top: 40px;
                .request__info-btn {
                    background-color: #fff;
                    margin-bottom: 30px;
                }
                .request__link {
                    max-width: 40%;
                    margin: 0 auto;
                    margin-bottom: 40px;
                    margin-top: 30px;
                }
            }
            .request__form {
                width: 80%;
                margin: 0 auto;
                padding: 70px 5%;
            }
        }
    }
}

@media (max-width: 700px) {
    .request {
        &__inner {
            .request__info {
                .request__link {
                    max-width: 60%;
                }
            }
            .request__form {
                width: 90%;
                margin: 0 auto;
                padding: 70px 5%;
                .request__form-data {
                    gap: 20px;
                    .request__form-input {
                        height: 60px;
                        padding: 5px;
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .request {
        &__inner {
            .request__info {
                .request__link {
                    max-width: 60%;
                }
            }
            .request__form {
                width: 95%;
                padding: 75px 7%;
                .request__form-data {
                    display: flex;
                    flex-direction: column;                    
                }
            }
        }
    }
}

